body {
    margin: 0 auto;
    background: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.header {
    background: black;
    opacity: 0.7;
    height: 10%;
    padding: 1em;
    box-sizing: border-box;
    color: whitesmoke;
    font-family: cursive;
    font-size: 1em;
}

ul {
    list-style-type: none;
    margin: 1vw;
    border: none;
    width: auto;
    transition: 1s;
    height: 80%;
   
}

nav ul li {
    display: inline-flex;
    background-color: bisque;
    margin: 2%;
    padding: 1%;
    border-radius: 5%;
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

div ul li a:active, :visited, :link {
    color: black;
    padding: 0.5em;
    margin: 1em;
    border-radius: 10%;
}