body {
    margin: 0 auto;
    background: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    background: black;
    opacity: 0.7;
    height: 10%;
    padding: 1em;
    box-sizing: border-box;
    color: whitesmoke;
    font-family: cursive;
    font-size: 1em;
}
div{
    height: auto;
}

ul{
    background-color: bisque;  
    margin: 2vw;  
    opacity: 0.7; 
    box-sizing: border-box;
    border: none;
    border-radius: 5%;
    width: 20vw;
    transition: 1s;
    height: 80%;
}
div ul li{
    display: flex;
    line-height: 1em;
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div ul li a:active,:visited,:link{
    color:black;
    padding:0.5em;
    margin:1em;
    border-radius: 10%;
  
   
}

